body {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 14px;
    margin: 0;
    padding: 2px;
}

h1, h2 {
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font: 600;
    padding: 8px;
}  

ul {
    list-style-type: square;
}

a:visited {
    color: blue;
}

a:hover {
    color: red;
}

img {
    display: inline-block; 
    margin-left: 15px;
    vertical-align: top;
    /* display: inline-block; boxes behave like inline boxes
    but with the padding and margins of block format boxes*/
}

.dish-title,
.overview-title {
    font-size: 24px;
    text-align: center;
}


.dish-container-one,
.dish-container-two, 
.dish-container-three {
    display: inline-block;
    width: 580px;
}

.overview h3 {
    background-color: white;
    border: none;
}

.title p {
    margin-top: 0;
    border: 1px solid blue;
}

.dishes p {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
    width: 580px;
    height: 150px;
}

.introduction .title {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 2px;
    margin-left: 0;
    text-align: center;
}

.dish-area-one .dish-container-one h2,
.dish-area-two .dish-container-two h2,
.dish-area-three .dish-container-three h2 {
    background-color: white;
    border-bottom: 3px solid pink;
    margin-top: 0;
}

.dish-area-one .dish-container-one p,
.dish-area-two .dish-container-two p,
.dish-area-three .dish-container-three p {
    background-color: ghostwhite;
    padding: 73px;
}

